# Copyright (c) 2022 Mitsubishi Electric Research Labs (MERL)
#
# SPDX-License-Identifier: BSD-3-Clause

venv
*__pycache__
*.pyc
*.pyo
*.pytest_cache
*.egg-info
*.eggs
*.vscode
*.mypy_cache
.coverage

# cython outputs
build/
*.c
*.so
.DS_Store
